In [3]:
import warnings
warnings.filterwarnings("ignore")
import regex
import seaborn as sns
import pandas as pd
import os

In [4]:
df_metadados = pd.DataFrame()
path = '/Users/Smith/OneDrive - unb.br/Projetos Pyhton/Projeto Calculadora/Projeto-OLX/Projeto-OLX/dados_carregados/'

for arquivo in os.listdir(path):
    print(arquivo)
    df_metadados = pd.concat([df_metadados, pd.read_csv(path + arquivo)])
    
df_metadados.reset_index(drop=True,inplace=True)

metadados_olx_telephones_202210232107.csv
metadados_olx_telephones_202210232108.csv
metadados_olx_telephones_202210232109.csv
metadados_olx_telephones_202210232110.csv
metadados_olx_telephones_202210232111.csv
metadados_olx_telephones_202210232112.csv
metadados_olx_telephones_202210232113.csv

In [5]:
df_metadados2 = df_metadados.drop_duplicates(subset=['ID'])
df_metadados.reset_index(drop=True,inplace=True)
print(df_metadados2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3111 entries, 0 to 20321
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     3111 non-null   int64
 1   TITULO                 3111 non-null   object
 2   VALOR                  3047 non-null   object
 3   LOCAL                  3111 non-null   object
 4   DATA_ANUNCIO           3111 non-null   object
 5   LINK                   3111 non-null   object
 6   DATA_COLETA_METADADOS  3111 non-null   object
dtypes: int64(1), object(6)
memory usage: 194.4+ KB
None

In [6]:
dados = df_metadados2.copy()
(dados.isnull().sum()/len(dados)*100).sort_values(ascending=False)

VALOR                    2.057216
ID                       0.000000
TITULO                   0.000000
LOCAL                    0.000000
DATA_ANUNCIO             0.000000
LINK                     0.000000
DATA_COLETA_METADADOS    0.000000
dtype: float64

In [7]:
dados.reset_index(drop = True, inplace = True)
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3111 entries, 0 to 3110
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     3111 non-null   int64
 1   TITULO                 3111 non-null   object
 2   VALOR                  3047 non-null   object
 3   LOCAL                  3111 non-null   object
 4   DATA_ANUNCIO           3111 non-null   object
 5   LINK                   3111 non-null   object
 6   DATA_COLETA_METADADOS  3111 non-null   object
dtypes: int64(1), object(6)
memory usage: 170.3+ KB

In [8]:
dados.dropna(subset = ['VALOR'], inplace = True)
dados.head()

,ID,TITULO,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS
0,1092026932,iPhone 13 Pro Max 128GB,R$ 7.000,Santo André - SP,"Hoje, 20:59",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23
1,1047252393,Iphone X loja centro aceitamos trocas parcelam...,R$ 1.699,Belo Horizonte - MG,"Hoje, 20:59",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-23
2,1100028800,Celular Samsung A10s 32gb,R$ 450,Indaiatuba - SP,"Hoje, 20:59",https://sp.olx.com.br/grande-campinas/celulare...,2022-10-23
3,1100743824,Antena Celular Tri band 1800 a 2100 mhz,R$ 380,Goiânia - GO,"Hoje, 20:59",https://go.olx.com.br/grande-goiania-e-anapoli...,2022-10-23
4,1100743745,Moto g 22,R$ 1.000,Piraquara - PR,"Hoje, 20:58",https://pr.olx.com.br/regiao-de-curitiba-e-par...,2022-10-23

In [9]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3047 entries, 0 to 3110
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     3047 non-null   int64
 1   TITULO                 3047 non-null   object
 2   VALOR                  3047 non-null   object
 3   LOCAL                  3047 non-null   object
 4   DATA_ANUNCIO           3047 non-null   object
 5   LINK                   3047 non-null   object
 6   DATA_COLETA_METADADOS  3047 non-null   object
dtypes: int64(1), object(6)
memory usage: 190.4+ KB

# Trabalhando na coluna valor
Objetivo é deixar essa coluna em formato int e dropar valores estranhos

In [10]:
# tirando o simbolo do reais
val = dados['VALOR'].str.split(' ', expand=True)
dados['VALOR'] = val[1]
dados

,ID,TITULO,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS
0,1092026932,iPhone 13 Pro Max 128GB,7.000,Santo André - SP,"Hoje, 20:59",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23
1,1047252393,Iphone X loja centro aceitamos trocas parcelam...,1.699,Belo Horizonte - MG,"Hoje, 20:59",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-23
2,1100028800,Celular Samsung A10s 32gb,450,Indaiatuba - SP,"Hoje, 20:59",https://sp.olx.com.br/grande-campinas/celulare...,2022-10-23
3,1100743824,Antena Celular Tri band 1800 a 2100 mhz,380,Goiânia - GO,"Hoje, 20:59",https://go.olx.com.br/grande-goiania-e-anapoli...,2022-10-23
4,1100743745,Moto g 22,1.000,Piraquara - PR,"Hoje, 20:58",https://pr.olx.com.br/regiao-de-curitiba-e-par...,2022-10-23
...,...,...,...,...,...,...,...
3106,1093017895,Iphone 11,2.590,Jacareí - SP,"Hoje, 20:01",https://sp.olx.com.br/vale-do-paraiba-e-litora...,2022-10-23
3107,1096540260,Poco M5,1.700,São Paulo - SP,"Hoje, 20:01",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23
3108,1095484173,Sansung galáctico a32 de 128g,850,São José - SC,"Hoje, 20:01",https://sc.olx.com.br/florianopolis-e-regiao/c...,2022-10-23
3109,1080611951,Sansung Galaxy A51 Crush Black,1.400,Espera Feliz - MG,"Hoje, 20:01",https://mg.olx.com.br/regiao-de-juiz-de-fora/c...,2022-10-23
3110,1098888793,iPhone XR,2.250,Ponte Alta do Tocantins - TO,"Hoje, 20:01",https://to.olx.com.br/tocantins/celulares/ipho...,2022-10-23

In [11]:
#suprimindo todos os pontos
a = dados['VALOR']
lista = [ str(i).replace('.' ,'') for i in  a]
dados['VALOR'] = lista
dados.head()

,ID,TITULO,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS
0,1092026932,iPhone 13 Pro Max 128GB,7000,Santo André - SP,"Hoje, 20:59",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23
1,1047252393,Iphone X loja centro aceitamos trocas parcelam...,1699,Belo Horizonte - MG,"Hoje, 20:59",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-23
2,1100028800,Celular Samsung A10s 32gb,450,Indaiatuba - SP,"Hoje, 20:59",https://sp.olx.com.br/grande-campinas/celulare...,2022-10-23
3,1100743824,Antena Celular Tri band 1800 a 2100 mhz,380,Goiânia - GO,"Hoje, 20:59",https://go.olx.com.br/grande-goiania-e-anapoli...,2022-10-23
4,1100743745,Moto g 22,1000,Piraquara - PR,"Hoje, 20:58",https://pr.olx.com.br/regiao-de-curitiba-e-par...,2022-10-23

In [12]:
#suprimindo valores em formato de parcela ou seja que contem um "x"
dados = dados[dados['VALOR'].str.contains('x')== False]
dados.head(20)

,ID,TITULO,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS
0,1092026932,iPhone 13 Pro Max 128GB,7000,Santo André - SP,"Hoje, 20:59",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23
1,1047252393,Iphone X loja centro aceitamos trocas parcelam...,1699,Belo Horizonte - MG,"Hoje, 20:59",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-23
2,1100028800,Celular Samsung A10s 32gb,450,Indaiatuba - SP,"Hoje, 20:59",https://sp.olx.com.br/grande-campinas/celulare...,2022-10-23
3,1100743824,Antena Celular Tri band 1800 a 2100 mhz,380,Goiânia - GO,"Hoje, 20:59",https://go.olx.com.br/grande-goiania-e-anapoli...,2022-10-23
4,1100743745,Moto g 22,1000,Piraquara - PR,"Hoje, 20:58",https://pr.olx.com.br/regiao-de-curitiba-e-par...,2022-10-23
5,1100743724,Vendo iPhone 6 plus 16 gigas,600,Aracaju - SE,"Hoje, 20:58",https://se.olx.com.br/sergipe/celulares/vendo-...,2022-10-23
6,1100743709,IPHONE 8 PLUS,1800,João Pessoa - PB,"Hoje, 20:58",https://pb.olx.com.br/paraiba/celulares/iphone...,2022-10-23
7,1100743700,iPhone XR,2050,João Pessoa - PB,"Hoje, 20:58",https://pb.olx.com.br/paraiba/celulares/iphone...,2022-10-23
8,1100743678,iPhone 8 plus retirada de peças,250,Nova Iguaçu - RJ,"Hoje, 20:58",https://rj.olx.com.br/rio-de-janeiro-e-regiao/...,2022-10-23
9,1100743667,iPhone 12 Pro,4000,Campinas - SP,"Hoje, 20:58",https://sp.olx.com.br/grande-campinas/celulare...,2022-10-23
10,1100743661,iPhone 8 Preto,1100,Manaus - AM,"Hoje, 20:58",https://am.olx.com.br/regiao-de-manaus/celular...,2022-10-23
11,1100743648,iPhone 7 128g,950,Aracaju - SE,"Hoje, 20:58",https://se.olx.com.br/sergipe/celulares/iphone...,2022-10-23
12,1100743628,iPhone 6s Plus 64GB,900,São Luís - MA,"Hoje, 20:58",https://ma.olx.com.br/regiao-de-sao-luis/celul...,2022-10-23
13,1100743623,iPhone 7 32 gb,550,Novo Gama - DF,"Hoje, 20:58",https://df.olx.com.br/distrito-federal-e-regia...,2022-10-23
14,1100743602,Capa iPhone,25,Curitiba - PR,"Hoje, 20:57",https://pr.olx.com.br/regiao-de-curitiba-e-par...,2022-10-23
15,1100743581,iPhone 7 32gb,900,Iperó - SP,"Hoje, 20:57",https://sp.olx.com.br/regiao-de-sorocaba/celul...,2022-10-23
16,1100743570,iPhone XS,2300,São Paulo - SP,"Hoje, 20:57",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23
17,1097918491,12 Pro 128GB,3600,Belo Horizonte - MG,"Hoje, 20:57",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-23
18,1096389199,iPhone SE 2020 / iPhone 11 / iPhone 8,1300,Belo Horizonte - MG,"Hoje, 20:57",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-23
19,1100743551,Samsung A31,1050,Curitiba - PR,"Hoje, 20:57",https://pr.olx.com.br/regiao-de-curitiba-e-par...,2022-10-23

In [13]:
# agora vamos colocar a coluna em formato int
dados['VALOR'] = dados['VALOR'].astype('int')
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3047 entries, 0 to 3110
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     3047 non-null   int64
 1   TITULO                 3047 non-null   object
 2   VALOR                  3047 non-null   int32
 3   LOCAL                  3047 non-null   object
 4   DATA_ANUNCIO           3047 non-null   object
 5   LINK                   3047 non-null   object
 6   DATA_COLETA_METADADOS  3047 non-null   object
dtypes: int32(1), int64(1), object(5)
memory usage: 178.5+ KB

In [14]:
#dados2 = dados2[(dados2['VALOR'] > 500) & (dados2['VALOR'] <= 15000) ]
#dados2

# Trabalhando na coluna local
objetivo é poder extrair o estado de cada publicação

In [15]:
dados['LOCAL'] = dados['LOCAL'].str.lower()
a = dados['LOCAL'].str[-2:]
dados['Estado'] = a
dados

,ID,TITULO,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,Estado
0,1092026932,iPhone 13 Pro Max 128GB,7000,santo andré - sp,"Hoje, 20:59",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23,sp
1,1047252393,Iphone X loja centro aceitamos trocas parcelam...,1699,belo horizonte - mg,"Hoje, 20:59",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-23,mg
2,1100028800,Celular Samsung A10s 32gb,450,indaiatuba - sp,"Hoje, 20:59",https://sp.olx.com.br/grande-campinas/celulare...,2022-10-23,sp
3,1100743824,Antena Celular Tri band 1800 a 2100 mhz,380,goiânia - go,"Hoje, 20:59",https://go.olx.com.br/grande-goiania-e-anapoli...,2022-10-23,go
4,1100743745,Moto g 22,1000,piraquara - pr,"Hoje, 20:58",https://pr.olx.com.br/regiao-de-curitiba-e-par...,2022-10-23,pr
...,...,...,...,...,...,...,...,...
3106,1093017895,Iphone 11,2590,jacareí - sp,"Hoje, 20:01",https://sp.olx.com.br/vale-do-paraiba-e-litora...,2022-10-23,sp
3107,1096540260,Poco M5,1700,são paulo - sp,"Hoje, 20:01",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23,sp
3108,1095484173,Sansung galáctico a32 de 128g,850,são josé - sc,"Hoje, 20:01",https://sc.olx.com.br/florianopolis-e-regiao/c...,2022-10-23,sc
3109,1080611951,Sansung Galaxy A51 Crush Black,1400,espera feliz - mg,"Hoje, 20:01",https://mg.olx.com.br/regiao-de-juiz-de-fora/c...,2022-10-23,mg
3110,1098888793,iPhone XR,2250,ponte alta do tocantins - to,"Hoje, 20:01",https://to.olx.com.br/tocantins/celulares/ipho...,2022-10-23,to

# trabalhando na coluna Titulo
o objetivo é identificar a marca de cada celular e criar uma nova coluna

In [16]:
dados.reset_index(drop = True , inplace =True)

In [17]:
#convertendo toda a coluna em miusculo
dados['TITULO'] = dados['TITULO'].str.lower()
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3047 entries, 0 to 3046
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     3047 non-null   int64
 1   TITULO                 3047 non-null   object
 2   VALOR                  3047 non-null   int32
 3   LOCAL                  3047 non-null   object
 4   DATA_ANUNCIO           3047 non-null   object
 5   LINK                   3047 non-null   object
 6   DATA_COLETA_METADADOS  3047 non-null   object
 7   Estado                 3047 non-null   object
dtypes: int32(1), int64(1), object(6)
memory usage: 178.7+ KB

In [18]:
#marcas = ["samsung", "xiaomi", "apple", "iphone" , "motorola", "asus", "lg", "huawei", "lenovo", "nokia"]
dados.reset_index(drop = True , inplace =True)
apple = ['se 2020',	'11 pro max', '13 pro max',	'xr', '7 plus', '8 plus', '12 pro']
google = ['google', 'pixel]']
motorola = ['g8', 'g5', 'moto','g9 plus', 'mto'] 
xiaomi = ['mi 11', 'redmi',	'note 11','note 8 pro',	'note 11s','poco',	'mi',   'xiaome', 'realme','redimi']	
samsung = ['samsung', 'galaxy', 'a30s',	's6',	'j5', 'j7', 'a22', 's22', 'note 20', 'a21s', 'a30', 'a32','s21+', 'a20', 's7', 'edge', 'a50', 's20fe', 'a31' ,'j2', 'j4', 's9 plus', 's7', 'a20s', 'a10s']
lista = []
for i in dados["TITULO"]:
    if "iphone" in i or "apple" in i:
       lista.append("Iphone")
    elif "samsung" in i or "galaxy" in i:
        lista.append("Samsung")
    elif "xiaomi" in i:
        lista.append("Xiaomi")
    elif "lg" in i:
        lista.append("Lg")
    elif "motorola" in i or "moto" in i :
        lista.append("Motorola")
    elif "nokia" in i:
        lista.append("Nokia")
    elif "asus" in i:
        lista.append("Asus")
    elif "huawei" in i:
        lista.append("Huawei")
    elif "lenovo" in i:
        lista.append("Lenovo")
    elif "troca" in i or "troco" in i:
      lista.append("Troca")
    elif "notebook" in i or "computador" in i:
      lista.append("Notebok")
    elif "fone" in i or "phone" in i or "buds" in i or "bud" in i or "airpod"  in i or "airpods" in i:
      lista.append("Fone")
    else:
        lista.append("Other")
    
dados["marcas"] = pd.DataFrame(lista)
dados

,ID,TITULO,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,Estado,marcas
0,1092026932,iphone 13 pro max 128gb,7000,santo andré - sp,"Hoje, 20:59",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23,sp,Iphone
1,1047252393,iphone x loja centro aceitamos trocas parcelam...,1699,belo horizonte - mg,"Hoje, 20:59",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-23,mg,Iphone
2,1100028800,celular samsung a10s 32gb,450,indaiatuba - sp,"Hoje, 20:59",https://sp.olx.com.br/grande-campinas/celulare...,2022-10-23,sp,Samsung
3,1100743824,antena celular tri band 1800 a 2100 mhz,380,goiânia - go,"Hoje, 20:59",https://go.olx.com.br/grande-goiania-e-anapoli...,2022-10-23,go,Other
4,1100743745,moto g 22,1000,piraquara - pr,"Hoje, 20:58",https://pr.olx.com.br/regiao-de-curitiba-e-par...,2022-10-23,pr,Motorola
...,...,...,...,...,...,...,...,...,...
3042,1093017895,iphone 11,2590,jacareí - sp,"Hoje, 20:01",https://sp.olx.com.br/vale-do-paraiba-e-litora...,2022-10-23,sp,Iphone
3043,1096540260,poco m5,1700,são paulo - sp,"Hoje, 20:01",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23,sp,Other
3044,1095484173,sansung galáctico a32 de 128g,850,são josé - sc,"Hoje, 20:01",https://sc.olx.com.br/florianopolis-e-regiao/c...,2022-10-23,sc,Other
3045,1080611951,sansung galaxy a51 crush black,1400,espera feliz - mg,"Hoje, 20:01",https://mg.olx.com.br/regiao-de-juiz-de-fora/c...,2022-10-23,mg,Samsung
3046,1098888793,iphone xr,2250,ponte alta do tocantins - to,"Hoje, 20:01",https://to.olx.com.br/tocantins/celulares/ipho...,2022-10-23,to,Iphone

In [19]:
#vamos trabalhar com apenas anuncios em cima de 100 reais
dados = dados[dados["VALOR"] >= 100]
dados = dados[(dados["marcas"] != "Notebook") | (dados["marcas"] != "Fone") | (dados["marcas"] != "Troca")]

In [20]:
# vamo criar um data frame para observar os valores "other"
Outros = dados[dados["marcas"] == "Other"]
Outros.reset_index(drop= True , inplace = True)
Outros

,ID,TITULO,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,Estado,marcas
0,1100743824,antena celular tri band 1800 a 2100 mhz,380,goiânia - go,"Hoje, 20:59",https://go.olx.com.br/grande-goiania-e-anapoli...,2022-10-23,go,Other
1,1097918491,12 pro 128gb,3600,belo horizonte - mg,"Hoje, 20:57",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-23,mg,Other
2,1087778069,14 pro max 256 roxo lacrado,9100,são paulo - sp,"Hoje, 20:57",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23,sp,Other
3,1100743335,vendo esse redmi 9,950,boa vista - rr,"Hoje, 20:56",https://rr.olx.com.br/roraima/celulares/vendo-...,2022-10-23,rr,Other
4,1030167810,mi 11 lite 128gb/8gb ram - versão global,1999,salvador - ba,"Hoje, 20:55",https://ba.olx.com.br/grande-salvador/celulare...,2022-10-23,ba,Other
...,...,...,...,...,...,...,...,...,...
517,1092355167,"vendo celular redmi note 7, modelo m1901f7g",700,são bento do sul - sc,"Hoje, 20:01",https://sc.olx.com.br/norte-de-santa-catarina/...,2022-10-23,sc,Other
518,1091909184,celulares variados,300,curitiba - pr,"Hoje, 20:01",https://pr.olx.com.br/regiao-de-curitiba-e-par...,2022-10-23,pr,Other
519,1096472603,redimi note 11 - graphite / 126gb 6gb rom,1200,são paulo - sp,"Hoje, 20:01",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23,sp,Other
520,1096540260,poco m5,1700,são paulo - sp,"Hoje, 20:01",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23,sp,Other
521,1095484173,sansung galáctico a32 de 128g,850,são josé - sc,"Hoje, 20:01",https://sc.olx.com.br/florianopolis-e-regiao/c...,2022-10-23,sc,Other

In [21]:
lista = []
for i in dados["TITULO"]:
    if "iphone"in i or "13 pro" in i or "12 pro" in i or "11 pro" in i or "xr" in i or "8 plus" in i:
       lista.append("Iphone")
    elif "samsung" in i  or "galaxy" in i or "j8" in i or "a50" in i or "s6" in i or "a30" in i or  "a30s" in i or "a22" in i  or "s22" in i  or "j7" in i  or "sansung" in i or "a13" in i or "a32" in i  or "s21" in i  or "s20" in i or "s9" in i  or"j5" in i  or "a21s" in i or "a21" in i or "a10" in i  or "a20" in i or "a72" in i or "a31"  in i or "a03" in i  or "j2" in i or "j4" in i or "a70"  in i or "a20s"  in i or" a10s"  in i or"a02" in i or "a12" in i :
        lista.append("Samsung")
    elif "xiaomi" in i or "redmi" in i or "mi 11" in i  or "xiome" in i or "xiomi" in i or "note" in i  or "poco"in i  or "realme"in i or "redimi"in i  or "xaiomi" in i or " mi light" in i:
        lista.append("Xiaomi")
    elif "lg" in i:
        lista.append("Lg")
    elif "motorola" in i or "moto" in i or "g8" in i or "g5" in i or  "mto" in i or "g9" in i :
        lista.append("Motorola")
    elif "nokia" in i:
        lista.append("Nokia")
    elif "asus" in i:
        lista.append("Asus")
    elif "huawei" in i:
        lista.append("Huawei")
    elif "lenovo" in i:
        lista.append("Lenovo")
    elif "google" in i or "pixel" in i:
        lista.append("Google Phone")
    elif "troca" in i or "troco" in i:
      lista.append("Troca")
    elif "notebook" in i or "computador" in i:
      lista.append("Notebok")
    elif "fone" in i or "phone" in i or "buds" in i or "bud" in i or "airpod"  in i or "airpods" in i:
      lista.append("Fone")
    elif "watch" in i or "smartwatch" in i or "relogío" in i:
      lista.append("Watch")
    else:
        lista.append("Other")
    
dados["marcas"] = pd.DataFrame(lista)
dados

,ID,TITULO,VALOR,LOCAL,DATA_ANUNCIO,LINK,DATA_COLETA_METADADOS,Estado,marcas
0,1092026932,iphone 13 pro max 128gb,7000,santo andré - sp,"Hoje, 20:59",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23,sp,Iphone
1,1047252393,iphone x loja centro aceitamos trocas parcelam...,1699,belo horizonte - mg,"Hoje, 20:59",https://mg.olx.com.br/belo-horizonte-e-regiao/...,2022-10-23,mg,Iphone
2,1100028800,celular samsung a10s 32gb,450,indaiatuba - sp,"Hoje, 20:59",https://sp.olx.com.br/grande-campinas/celulare...,2022-10-23,sp,Samsung
3,1100743824,antena celular tri band 1800 a 2100 mhz,380,goiânia - go,"Hoje, 20:59",https://go.olx.com.br/grande-goiania-e-anapoli...,2022-10-23,go,Other
4,1100743745,moto g 22,1000,piraquara - pr,"Hoje, 20:58",https://pr.olx.com.br/regiao-de-curitiba-e-par...,2022-10-23,pr,Motorola
...,...,...,...,...,...,...,...,...,...
3042,1093017895,iphone 11,2590,jacareí - sp,"Hoje, 20:01",https://sp.olx.com.br/vale-do-paraiba-e-litora...,2022-10-23,sp,NaN
3043,1096540260,poco m5,1700,são paulo - sp,"Hoje, 20:01",https://sp.olx.com.br/sao-paulo-e-regiao/celul...,2022-10-23,sp,NaN
3044,1095484173,sansung galáctico a32 de 128g,850,são josé - sc,"Hoje, 20:01",https://sc.olx.com.br/florianopolis-e-regiao/c...,2022-10-23,sc,NaN
3045,1080611951,sansung galaxy a51 crush black,1400,espera feliz - mg,"Hoje, 20:01",https://mg.olx.com.br/regiao-de-juiz-de-fora/c...,2022-10-23,mg,NaN
3046,1098888793,iphone xr,2250,ponte alta do tocantins - to,"Hoje, 20:01",https://to.olx.com.br/tocantins/celulares/ipho...,2022-10-23,to,NaN

In [22]:
data = dados[dados['marcas'] != 'Other']

In [2]:
from verticapy.datasets import load_titanic
titanic = load_titanic()
titanic.describe()

NoSectionError: No section: 'VERTICAPY_AUTO_CONNECTION'